# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Development
NODE_ENV="development"


# Use this to force nixpacks to use node 20 instead of 18, which is its default version. This is needed when deploying on coolify.
NIXPACKS_NODE_VERSION=20

OPENAI_API_KEY=your-api-key
